 header OurBakes.css/


h1{
    color: brown;
    text-align: center;
    padding-top: 200px;
    font-size: 150px;
}
    
.quote1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    padding: 25px;
    font-style: italic;
    background-color: lightgrey;
    border-right: 4px solid;
    border-radius: 5px;
    margin: 20px;
}

img{
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    width: 200px;
}

div.bake-image-container {
    text-align: center;
    margin: 10px 0;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
    color: maroon;
}
 
h2{
    color: black;
    text-align: center;
    font-size: 25px;
}
h3{
    color: brown;
    text-align: center;
    font-size: 35px;
}

.button {
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.leftcolumn {
    flex: 0 0 48.5%;
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

div.bake-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f3f3;
}
.leftcolumn2 {
    float: right;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*footer.css*/