
header{
    background-image: url("https://plus.unsplash.com/premium_photo-1692805433218-fe8f7b2be51f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTUzfHxjcm9pc3NhbnQlMjBhbmQlMjBjb2ZmZWV8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

h1{
    color: brown;
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
    
}

.quote1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    padding: 25px;
    font-style: italic;
    background-color: lightgrey;
    border-right: 4px solid;
    border-radius: 5px;
    margin: 20px;
}

img{
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    width: 200px;
}

div.bake-image-container {
    text-align: center;
    margin: 20px 0;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
    color: brown;
}
 
h2{
    color: brown;
    text-align: center;
    font-size: 30px;
}
h3{
    color: brown;
    text-align: center;
    font-size: 25px;
}

.button {
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: darkred;
}
.footer {
    height: 120px;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(145, 82, 6);
    margin-top: 0;
}

